body{
background-image: url("../images/fondo.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-color: #eeeeee;
}
body{
	background-color: #eeeeee;
	font-family: 'montserrat', sans-serif;
	margin: 0;
	position: relative;
}
h1{
	font-weight: 700;
	font-size: 60px;
	margin-top: 3rem;
}
h2{
	font-weight: 500;
	font-size: 30px;
}
nav{
	width: max-content;
	margin: auto;
}
nav .nav-item{
	width: 200px;
}
nav .nav-link{
	color: #4B4B4B !important;
	text-transform: uppercase;
	font-size: 17px;
}
.form-control {
	background-color: #eeeeee;
	border: none;
	border-bottom: 1px solid black; 
	border-radius: 0px;
}
.btn{
	background-color: black;
	color: white;
	border-radius: 0px;
}
.btn:hover {
background-color: white;
color: black;
border:1px solid black;
}
.form-control{
	background-color: #eeeeee;
	border:0;
	border-bottom: 1px solid;
}
footer{
	background-color: white;
	margin-bottom: 0;
}
footer a{
	color: black;
	text-decoration: underline;
}
footer i{
	font-size: 35px;
    border: 1px solid;
    height: 53px;
    width: 53px;
    text-align: center;
    padding: 8px;
    border-radius: 80px;
    margin: 22px;
}
.containerb{
	
}
@media (max-width:500px){
	h1{
		font-weight: 700;
		font-size: 44px;
		margin-top: 3rem;
	}
}
